<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
</head>

<body>

  <header>

    <nav>
      <div class="logo">
        <h1 style="font-size: 20px;"> Events Expo. </h1>
      </div>
      <div class="menu">
        <a href="#">Home</a>
        <a href="/contact">contact</a>
        <a href="/about">reviews</a>
        <a href="/gallery">gallery</a>
        <a href="/FAQ">FAQ</a>
      </div> 
    </nav>

    <main>
      <section>
        <h3>Welcome To Events Expo.</h3>
        <h1>VISIT FOR<span class="change_content"> </span> <span style="margin-top: -10px;"> </span> </h1>
        <p>"Life is an event. Make it memorable!"</p>
        <a href="/login" class="btnone">Login</a>
        <a href="/signup" class="btntwo">Signup</a><br><br><br><br><br><br><br>

        <p>Enter as an <a href="/login_owner" class="btntwo">Owner</a></p>
      </section>

    </main>

  </header>

</body>

</html>