@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");

* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hind", sans-serif;
  background: #fff;
  background-image: url("../images/aboutjpg.jpg");
  display: flex;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 6rem 4rem;
  width: 48rem;
}

.accordion .accordion-item {
  border-bottom: 1px solid #000000;
}

.accordion .accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid #00b894;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #00b894;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #00b894;
  border: 1px solid #00b894;
}

.accordion button .accordion-title {
  color: white;
  padding: 1em 1.5em 1em 0;
}

h2 {
  color: #00b894;
  opacity: 100%;
}

.accordion button .icon {
  color: white;
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded="true"] {
  color: #00b894;
}
.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}
.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  color: white;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

header {
  width: 100%;
  height: 100vh;
  background-color: rgb(49 49 49 / 54%);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

nav {
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  height: 15vh;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

nav .logo {
  width: 25%;
  text-align: center;
  /* background: red; */
}

nav .menu {
  width: 35%;
  display: flex;
  justify-content: space-around;
}

nav .menu a {
  width: 25%;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* nav .menu a:first-child {
color: #00b894;
} */

nav .menu a:hover {
  color: #00b894;
}
